<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout-main">

<head>
    <title>Create a new User</title>
    <link rel="stylesheet" href="../../../style/app.css" th:href="@{/style/app.css}"/>
</head>

<body>

    <section layout:fragment="content-main">

        <form class="user-form"
              action="/userNoAjaxThyme" method="post"
              th:action="@{/userNoAjaxThyme}"
              th:object="${user}">

            <fieldset>
                <div class="control-group">
                    <label class="control-label">Enter your first name:</label>
                    <div class="controls">
                        <input type="text" th:field="*{firstName}" />
                        <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Error for the first name field</p>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Enter your last name:</label>
                    <div class="controls">
                        <input type="text" th:field="*{lastName}" />
                        <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Error for the last name field</p>
                    </div>
                </div>

                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                    <button type="reset" class="btn">Cancel</button>
                </div>
            </fieldset>

        </form>

    </section>

</body>
</html>